h1 {
    text-align: center;
    color:#336699;
}

body {
    margin: 20px 10%;
}

pre {
    background-color: #eeeeee;
    border:1px dotted #888888;
    padding: 20px;
    border-radius: 20px;
}

img {
    display:block;
    margin:auto;
}
